{
	"type":	"footer"
}


{{? it.type=="header" }}

	<!-- check: !production -->
		<script type="text/javascript" src="/js/vendor/modernizr.js"></script>
		<script type="text/javascript" src="/js/vendor/ua.js"></script>
		<link href="/css/vendor/bootstrap.less.css" rel="stylesheet">
		<link href="/css/main.less.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
<!--[if lte IE 9]>
		<link href="/css/main-ie9.css" rel="stylesheet">
<![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="/js/vendor/html5shiv.js"></script>
		<script src="/js/vendor/respond.js"></script>
<![endif]-->
<!-- endcheck -->
<!-- check: !development -->
		<script type="text/javascript" src="/js/vendor/modernizr.min.js"></script>
		<script type="text/javascript" src="/js/vendor/ua.js"></script>
		<link href="/css/main.min.css" rel="stylesheet">		
<!--[if lte IE 9]>
		<link href="/css/main-ie9.min.css" rel="stylesheet">
<![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="/js/vendor/html5shiv.js"></script>
		<script src="/js/vendor/respond.min.js"></script>
<![endif]-->
<!-- endcheck -->

{{?}}

{{? it.type=="footer" }}

	    <link href="/fonts/fonts.css" rel="stylesheet">
<!-- check: !production -->
<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/vendor/legacy/jquery.js"></script>
<![endif]-->
<!--[if gte IE 9]>
		<script type="text/javascript" src="/js/vendor/jquery.js"></script>
<![endif]-->
<![if !IE]>
		<script type="text/javascript" src="/js/vendor/jquery.js"></script>
<![endif]>
		<script type="text/javascript" src="/js/vendor/bootstrap.js"></script>
		<script type="text/javascript" src="/js/styler.js"></script>
		<script type="text/javascript" src="/js/video.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
<!-- endcheck -->
<!-- check: !development -->
<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/vendor/legacy/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]>
		<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<![endif]-->
<![if !IE]>
		<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<![endif]>
		<!--
		<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/vendor/skrollr.min.js"></script>
		-->
		<script type="text/javascript" src="/js/main.min.js"></script>
<!-- endcheck -->

{{?}}